@import '../../../colors';

.Lobbies
{
	height: calc(100% - 2em);
	width: calc(100% - 2em);
	padding: 2em;
	position: relative
}

#lobbiesList
{
	width: 30%;
	height: 100%;
	float: left;
    position:relative;
}

#currentLobby
{
    float: left;
 	width: calc(70% - 4em); //ampak zakaj dela	
	height: 100%;
	padding: 2em;
    position: relative;
    background: MediumSeaGreen;
}

#hostNameDiv
{
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

.lobbyDataDiv
{
	font-size: 20px;
	margin:1em;
}

#settingsSvg
{
	height: 40px;
	vertical-align: middle;
	margin-top: 1em;
	margin-bottom: 1em;
}


#settingsDiv {
	display: none;
}

#renderSettingsDiv {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.75s linear;
}
#settingsDiv:hover > #renderSettingsDiv {
  visibility: visible;
  opacity: 1;
}


$leave-button-bg-color: #892222;
$button-border-color: #166E84;

#leaveButton {
  display: inline-block;
  padding: 15px;
  margin:1em;
  height: 50px;
  min-width: 100px;
  background: $leave-button-bg-color;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken($leave-button-bg-color,0%);
  border-bottom: 2px solid darken($leave-button-bg-color,3%);
  
  &:hover{
    background: darken($leave-button-bg-color,5%);
    box-shadow: 0 4px 1px darken($leave-button-bg-color,5%);
    border-bottom: 2px solid darken($leave-button-bg-color,8%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}

$start-button-bg-color: #228922;
$start-border-color: #166E84;

#startGameButton {
  display: inline-block;
  padding: 15px;
  margin:1em;
  height: 50px;
  min-width: 100px;
  background: $start-button-bg-color;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken($start-button-bg-color,0%);
  border-bottom: 2px solid darken($start-button-bg-color,3%);
  
  &:hover{
    background: darken($start-button-bg-color,5%);
    box-shadow: 0 4px 1px darken($start-button-bg-color,5%);
    border-bottom: 2px solid darken($start-button-bg-color,8%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}



$button-bg-color: $color;
$button-border-color: #166E84;

#setLobbyDataButton
{
  display: inline-block;
  padding: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 50px;
  min-width: 100px;
  background: $button-bg-color;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken($button-bg-color,0%);
  border-bottom: 2px solid darken($button-bg-color,3%);
  
  &:hover{
    background: darken($button-bg-color,5%);
    box-shadow: 0 4px 1px darken($button-bg-color,5%);
    border-bottom: 2px solid darken($button-bg-color,8%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}