<div id="app">
	<div class='NavBar'>
		<ul>
			<li class="floatLeft selected"><a href=''>Home</a></li>
			<li class="floatLeft"><a href=''>Chat</a></li>
			<li class="floatLeft"><a href=''>Leaderboard</a></li>
			<li class="floatLeft"><a href=''>Play</a></li>
			<li class="floatRight"><a href=''>Logout</a></li>
			<li class="floatRight"><a href=''>Profile</a></li>
		</ul>
	</div>
</div>