<div id="app">
	
</div>

<script src="javascripts/MainPage.bundle.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:3000');
  socket.on('hello', function (data) {
    console.log(data);
  });
function test(name){
	socket.emit('testEmit', name , function (data) {
  		console.log(data);
	});
}
</script>