<div id="app">
	<div>
		<div class="form">

			<div class="switch">
				<ul><li class="login selected">Login</li><li onclick="window.LoginPage.switchToSignUp()" class ="register">Sign up</li></ul>	
			</div>
			
			<div class="title">
				Welcome back
			</div>

			<div class="inputFields">
				<div class="inputField">
						<input type="text" placeholder="E-mail"/>
				</div>

				<div class="inputField">
					<input type="password" placeholder="Password"/>
				</div>
			</div>

			<button class="submitButton">
				Login
			</button>

		</div>

		<div class="info">
		</div>
	</div>
</div>

<script src="javascripts/LoginPage.bundle.js"></script>