<div id="app">
	<div>
		<div class="form">

			<div class="switch">
				<ul><li class="login selected">Sign up</li><li class ="register">Login</li></ul>	
			</div>
			
			<div class="title">
				Sign up
			</div>

			<div class="inputFields">
				<div class="inputField">
						<input type="text" placeholder="E-mail"/>
				</div>

				<div class="inputField">
					<input type="password" placeholder="Password"/>
				</div>
				<div class="inputField">
					<input type="password" placeholder="Retype password"/>
				</div>
				<div class="inputField">
					<input type="text" placeholder="First name"/>
				</div>
				<div class="inputField">
					<input type="text" placeholder="Last name"/>
				</div>
				<div class="inputField">
					<input type="date" placeholder="Date of birth"/>
				</div>
				<div class="inputField">
					<select>
						<option value="male">Male</option>
						<option value="female">Female</option>
						<option value="genderFluid">Gender fluid</option>
					</select>
				</div>
			</div>

			<button class="submitButton">
				Submit
			</button>

		</div>

		<div class="info">
		</div>
	</div>
</div>

<script src="javascripts/LoginPage.bundle.js"></script>