<div id="app">
	<div class='NavBar'>
		<p>TJAŽ WAS HERE</p>
		<button onclick="tjazButton()" > CLICK ME </button>
		<div id="out" > test out maybe at some point</div>
	</div>
</div>

<script src="javascripts/TjazPage.bundle.js"></script>