@import '../../../colors';
$defaultElementMargin: 0.5rem;
$basicInfoWidth: 20rem;

@mixin stroke($width, $color) {
    $width: $width + 0;
    $shadow: 0 0 0 transparent;
    $i: 0;
    $w: 1;

    @while ($i < $width) {
        $i: $i + 1;
        $j: 0;
        $w: $w + 2;

        @for $r from 1 through $w {
            @for $c from 1 through $w {
                $x: $c - ceil($w / 2);
                $y: $r - ceil($w / 2);

                $shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
            }
        }
    }

    text-shadow: $shadow;
}

.Profile 
{
	margin: $defaultElementMargin;
	height: calc(100% - #{$defaultElementMargin*2});

	> .basicInfo
	{
		display: inline-block;
		background: #FFFFFF;
		height: 100%;

		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		position: relative;
		width: $basicInfoWidth;
		float: left;

		> img 
		{
			display: block;
			height: 13rem;
			margin: $defaultElementMargin*3 auto 0 auto;
		}

		> .infoList 
		{
			margin-top: $defaultElementMargin;
			width: 100%;

			> li
			{
				text-align: center;
			}

			> .firstLastName 
			{
				font-family: 'Alfa Slab One', cursive;
				font-size: 2rem;
			}

			> .ocupation
			{
				font-size: 1.5rem;
				color: lighten( $color1, 17 );
			}

			> .description
			{
				font-size: 1.2rem;
				color: darken( desaturate( adjust-hue( $color, 7deg ), 8 ), 2 );
				display: block;
				width: 85%;
				margin: #{$defaultElementMargin + 0.2rem} auto 0 auto;
			}
		}

		> .switchList 
		{
			position: absolute;
			width: 100%;
			bottom: 0;

			> li
			{
				text-align: center;
				height: 3rem;
				font-size: 1.3rem;
				font-family: 'Alfa Slab One', cursive;
				color: $color;
				border-top: 1px solid #D8D8D8;
				

				> img
				{
					display: inline-block;
					padding: 0.3rem 0 0.3rem 3rem;
					height: calc(100% - 0.6rem);
					width: calc(40% - 3rem);
					float: left;
				}

				> div
				{
					display: inline-block;
					width: 60%;
					height: 100%;

					float: left;
					line-height: 3rem;
					text-align: left;
				}
			}

			> li:hover
			{
				background: #C8D3E1;
				border-left: 4px solid #2D5AB9;
				cursor: pointer;
				border-radius: 3px;
				width: calc(100% - 4px);
			}

			> li:nth-child(2n+1):hover
			{
				background: #C8D3E1;
				border-left: 4px solid #2D5AB9;
				cursor: pointer;
				border-radius: 3px;
			}

			> li:nth-child(2n+1)
			{
				background: #E4E4E4;
			}
		}
	}
}

// ----------------------------------------------------------------

.secondaryContent
{
	display: inline-block;
	height: 100%;
	width: calc(100% - (#{$basicInfoWidth} + #{$defaultElementMargin}));
	margin-left: $defaultElementMargin;
}

.secondaryContent .bannerWrapper
{
	background: #FFFFFF;

	padding-top: $defaultElementMargin*2;
	padding-bottom: $defaultElementMargin;

	height: 4rem + 2.4rem;
	position: relative;
	width: 100%;
	z-index: 10;

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}



.banner
{
	position: relative;
	margin:  0 auto 0 auto;
	width: 13em;
	height: 4rem;
	border: 1px solid #5386C8;
	font-family: 'Alfa Slab One', cursive;

	@include stroke(3px, #000000);

	letter-spacing: 0.06rem;
	line-height: 4rem;

	text-align: center;
	color: #FFFFFF;
	background: #5386C8;
	border-radius: 4px;
	box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}

.banner::before, .banner::after
{
	content: '';
	position: absolute;
	// z-index: 10;
	left: -6rem;
	top: 2rem;
	display: block;
	width: 4rem;
	height: 0px;
	border: 2rem solid #5386C8;
	border-right: 2rem solid #3D5077;
	border-bottom-color: #5386C8;
	border-left-color: transparent;
	transform: rotate(-5deg);
	z-index: -1;
}

.banner::after
{
	left: auto;
	right: -6rem;
	border-left: 2rem solid #3D5077;
	border-right: 2rem solid transparent;
	transform: rotate(5deg);
}


.secondaryContent .info 
{
	width: calc(100% - $defaultElementMargin*2);
	height: calc(93% - #{(6.4rem + $defaultElementMargin*7)});
	margin-top: $defaultElementMargin;
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		padding: $defaultElementMargin;

}

.arrows
{
	margin-top: $defaultElementMargin;
	height: 7%;
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.secondaryContent .info ul 
{
	height: 100%;
}


.secondaryContent .info > ul > li
{
	width: 100%;
	height: calc(20% - #{$defaultElementMargin - 0.25rem});
	padding-bottom: #{$defaultElementMargin - 0.2rem};
}

.secondaryContent .info > ul > li:last-child
{
	padding-bottom: 0;
}


.secondaryContent .info > ul > li > div
{
	height: 100%;
	width: 100%;

	background: #7E969A;
	cursor: pointer;
}

.secondaryContent .info > ul > li > div:hover
{
	background: #ACACAC;
}

.secondaryContent .info > div > div
{
	width: 50%;
	display: inline-block;
	height: 100%;
}


.secondaryContent .info > ul > li > div > div{
	height: 100%;
	float: left;
	

	display: flex;
	align-items: center; /* align vertical */
	font-family: 'Alfa Slab One', cursive;

	font-size: 2em;
	@include stroke(1px, #FFFFFF);

	
}

.secondaryContent .info > ul > li > div > div:nth-child(2n+1)
{
	
	width: 57%;
	// text-align: right; margin-left: auto;
	 margin-left: auto;
	 margin-right: 3%;
	 justify-content: flex-end;
	

}

.secondaryContent .info > ul > li > div > div:nth-child(2n)
{
	width: 40%;
	// padding-right: 30%;
}
.secondaryContent .info > ul > li > div > div img
{
	height: 70%;
	float: left;
	display: block;
	margin-right: auto;
	// width: 100%;
}

.arrows img
{
	height: 60%;
	width: 10%;
	// max-height: 4em;
	// max-width: 4em;

	cursor: pointer;

	display: block;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.arrows img:hover
{
	// background: #C8C8C8;
}

.arrows > div 
{
	height: 100%;
	width: 50%;
	display: inline-block;
}

// .arrows > div:nth-child(2n+1)


.arrows > div:nth-child(2n+1) img
{
	transform:rotateY(180deg) translateY(-50%);
	float: left;
}

.arrows > div:nth-child(2n) img
{
	float: right;
}


.hidden
{
	opacity: 0;
	// display: none;
}