@import '../../../colors';
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

$menuItemInnerHeight: 50px;
$menuItemFontSize: $menuItemInnerHeight - 30;

$defaultElementMargin: 0.5rem;
$basicInfoWidth: 23rem;
$temp: calc(100% - #{$defaultElementMargin*2});

.intro
{
  margin: $defaultElementMargin;
  height: $temp;
  background: #FFFFFF;
  border-radius:20px;



  .boxfather
  {
    position:relative;
    text-align: center;

    > .box
    {
      background: #2B5F8B;
      border-radius:20px; 
      padding: 5%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);       
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 50%);
      display: inline-block;
    }


    .box h1
    {
      color: #eaf4ff;
      font-size: 5em;
      text-align: top;
      position: relative;
      font-family: 'Montserrat', sans-serif;
    }

    .box p
    {
      color: #eaf4ff;
      font-size: 2em;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  }



}

